<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355057773109-d31k2i13nh2mjrisc4k03p5h7q7h6nm3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355057773109-d31k2i13nh2mjrisc4k03p5h7q7h6nm3</string>
	<key>API_KEY</key>
	<string>AIzaSyCA0dkPUdqN_NvcYcrzYR5XM49HNyQe8_k</string>
	<key>GCM_SENDER_ID</key>
	<string>355057773109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLogin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-12bf5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-12bf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355057773109:ios:6e8b7a1501aef1bd36df7c</string>
</dict>
</plist>